body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
    background-color: white;
    height: calc( 100vh - 20px );
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}
h1, h2 {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
h2 {
    color:white;
}

.contenedor-flex {
    /* display:inline-flex; */
    display: flex;
    border: 3px solid black;
    height: 400px;

    /* ALINEAR ELEMENTOS
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    */

    justify-content: center;

    /*Align items para elementos verticalmente
    align-content: flex-start;
    align-content: flex-end;
    align-content: baseline;
    align-content: center;
    */
    align-content: flex-start;
}

.elemento-flex {
    padding: 10px;
    background-color: #E53935;
}
.elemento-flex:nth-child(1) {
    align-items: flex-start;
}

.elemento-flex:nth-child(2) {
    background-color: #8E24AA;
}

.elemento-flex:nth-child(3) {
    background-color: #3F51B5;
    align-items: flex-end
}