h2 {
	margin: 0;
}
.servicios {
	border: 3px solid black;
	height: 300px;
	display: grid;

	grid-template-columns: 2fr 1fr 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-rows: 3fr 1fr;

	grid: repeat(2, 1fr) / repeat(3, 1fr);

	grid: auto / repeat(3, 1fr);

	grid-column-gap: 1rem;
	grid-row-gap: 1rem;

	grid-template-columns: 30% 30%;

	justify-content: flex-end;
	justify-content: center;
	justify-content: flex-start;

	/*Alinear*/
	align-items: start;
	align-items: center;
	align-items: end;
	align-items: initial;

	align-content: start;
}

.servicio {
	color: white;
	text-align: center;
}

.servicio-1 {
	background-color: darkviolet;
}

.servicio-2 {
	background-color: limegreen;
}
.servicio-3 {
	background-color: teal;
}
