:root {
	--fuentePrincipal: 'Gothic A1', sans-serif;
	--fuenteSecundaria: 'Oswald', sans-serif;

	--primario: #f1a94e;
	--secundario: #44b3c2;
	--claro: #ffffff;
}
html {
	box-sizing: border-box;
}

body {
	font-family: var(--fuentePrincipal);
}

.contenedor {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}
img {
	max-width: 100%;
}
h1 {
	font-size: 2.8rem;
}
h2 {
	font-size: 2.6rem;
}
h3 {
	font-size: 2.4rem;
}

p {
	font-size: 1.2rem;
	line-height: 2rem;
}
.hero {
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
}
.hero .contenedor {
	display: grid;
	height: 100vh;
	align-content: center;
}
.hero .contenido {
	text-align: center;
	color: var(--claro);
}
/* Servicios */
.servicios {
	text-align: center;
	margin-top: 3rem;
}
.servicios h2 {
	padding-bottom: .5rem;
}
.servicios h2::after {
	height: .02rem;
	width: 7rem;
	background-color: var(--primario);
	padding-bottom: .5rem;
	display: block;
	content: '';
	margin: 1rem auto 0 auto;
}
.servicios i {
	font-size: 3rem;
	color: var(--secundario);
}
@media (min-width: 768px) {
	.servicios {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 3rem;
	}
}

/** Portafolio**/

@media (min-width: 768px) {
	.listado {
		display: grid;
		grid-auto-rows: max-content;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2rem;
	}
	.elemento:nth-child(3) {
		grid-row-end: span 2;
	}
}

/** Footer */

.footer {
	background-image: url(../img/contacto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-top: 3rem;
	padding: 2rem 0;
	color: var(--claro);
}
@media (min-width: 768px) {
	.footer {
		height: 350px;
		display: grid;
		align-content: center;
	}
	.footer .contenedor {
		display: grid;
		grid-template-columns: 30% 30% auto;
	}
}
