h2 {
	margin: 0;
}
.servicios {
	border: 3px solid black;
	height: 300px;
	display: grid;
	/*Parametros de repeat: cuantas veces quiere que se repita y el tamaño*/
	grid-template-columns: 50% repeat(2, 25%);
	grid-template-rows: (2, 50%);
	grid: repeat(2, 50%) / 50% repeat(2, 25%);
	grid: repeat(2, 50%) / repeat(2, 10% 40%);
}

.servicio {
	color: white;
	text-align: center;
}

.servicio-1 {
	background-color: darkviolet;
}

.servicio-2 {
	background-color: limegreen;
}
.servicio-3 {
	background-color: teal;
}
