body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	margin: 0;
}
img {
	width: 100%;
}

.contenedor {
	height: 100vh;
	width: 900px;
	margin: 0 auto;
	display: grid;
	/*Row y columns*/
	grid: 100px auto 100px / repeat(4, 25%);
	grid-template-areas: "header header header header" "principal principal principal sidebar" ". footer footer footer";
	grid-gap: 1rem;
}

.header {
	background-color: coral;
	color: white;
	text-align: center;
	grid-area: header;
	/*grid-column: 1/ 5;*/
}

.contenido-principal {
	background-color: darkred;
	/*grid-column: 1 / 4;*/
	grid-area: principal;
}
.sidebar {
	background-color: olive;
}
.footer {
	background-color: navy;
	grid-area: footer;
	/*grid-column: 1 / 5;*/
}
/*INDEX 2*/
.contenedor-media {
	margin: 0 auto;
	max-width: 800px;
	display: grid;
	grid-template-areas: "titulo titulo titulo titulo" "imagen desc desc desc";
	grid-gap: 1rem; /*en lugar de margin*/
}

.titulo {
	grid-area: titulo;
}
.imagen {
	grid-area: imagen;
}
.descripcion {
	grid-area: desc;
}

.contenedor-media2 {
	margin: 0 auto;
	max-width: 800px;
	display: grid;

	grid-template-areas: "titulo2" "slogan" "info" "imagen2" "entrada";
}
@media screen and (min-width: 768px) {
	.contenedor-media2 {
		grid-template-areas: "titulo2 titulo2" "imagen2 slogan" "imagen2 info" "entrada entrada";
		grid-template-columns: 50% 50%;
	}
}
.titulo2 {
	grid-area: titulo2;
}
.imagen2 {
	grid-area: imagen2;
}
.slogan {
	grid-area: slogan;
}

.info {
	grid-area: info;
}
.entrada {
	grid-area: entrada;
}
