body {
    box-sizing: border-box;/*cuando agregamos un padding no afecta el ancho de nuestros elementos*/
    background-color: #f2f2f2;
}
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}
h2 {
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.6rem;
}
h3 {
    font-family: 'Libre Baskerville', serif;
    margin:0;
    font-weight: 700;

}
img {
    max-width: 100%;
}
.contenido {
    background-color: white;
    margin-bottom: 1rem;
    text-transform: uppercase;

}
.contenido {
    padding: 1rem;
    text-align: center;
}
.contenido h3 {
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
}

.contenido span {
    color:#db008d;
}
.boton {
    background-color: #008fd1;
    color: white;
    padding: .6rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
@media screen and (min-width:480px) {
    .contenido-principal {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .entrada {
        flex: 0 1 calc(50% - 1rem);

    }
}

@media screen and (min-width:768px) {
    .entrada {
        flex: 0 1 calc(33% - 1rem);
    }
}
