h2 {
	margin: 0;
}
.servicios {
	border: 3px solid black;
	display: grid;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: 50% 50%;
	height: 100px;
}

.servicio {
	color: white;
	text-align: center;
}

.servicio-1 {
	background-color: darkviolet;
	/*grid-column-start: 1;
	grid-column-end: 3;*/
	/*grid-row-start: 1;
	grid-row-end: 2;*/
	grid-column: 1/2;
	grid-row: 1/3;
}

.servicio-2 {
	background-color: limegreen;
	grid-column-start: 2;
	grid-column-end: 4;
}
.servicio-3 {
	background-color: teal;
	grid-column-start: 2;
	grid-column-end: 4;
}
