h2 {
	margin: 0;
}
.servicios {
	border: 3px solid black;
	height: 300px;
	display: grid;
	grid-template-columns: 40% 20% 20% 20%; /*defino la distribucion de los elementos*/
	grid-template-rows: 50% 50%;
	grid-auto-flow: column;
	/*grid-auto-flow: dense; row es el default*/
}

.servicio {
	color: white;
	text-align: center;
}

.servicio-1,
.servicio-4 {
	background-color: darkviolet;
}

.servicio-2 {
	grid-column: 1/2;
	grid-row: 1/3;
}

.servicio-3 {
	grid-column: 2/4;
}

.servicio-2,
.servicio-5 {
	background-color: limegreen;
}
.servicio-3,
.servicio-6 {
	background-color: teal;
}
