:root {
	/*Custom properties*/
	--primario: #7abe47;
	--secundario: #ffc845;
	--negro: #000000;
	--claro: #ffffff;
	--gris: #eeeeee;
	--oscuro: #57a42b;
	--padding: 1rem;
	--paddingt: 2rem;
}

body {
	background-color: var(--gris);
	font-family: 'Roboto', sans-serif;
}
/* Globales */
img {
	max-width: 100%;
}
p {
	line-height: 1.8rem;
	font-size: 1rem;
	font-weight: 300;
}

h1,
h2,
h3,
h4 {
	font-weight: 300;
	margin: 1rem 0 1rem 0;
}
h1 {
	font-size: 2.4rem;
}
h2 {
	font-size: 2.2rem;
}
h3 {
	font-size: 2rem;
}

.contenedor {
	max-width: 1100px;
	margin: 0 auto;
}

/* Header */
.header {
	margin-top: 2rem;
	padding: var(--padding);
	background-color: var(--primario);
}
.header .contenedor {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-row-gap: 3rem;
	justify-content: center;
}
.header .menu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	justify-content: center;
}
@media (min-width: 992px) {
	.header .contenedor {
		grid-template-columns: 30% 1fr 30%;
		justify-content: space-around;
		grid-row-gap: unset;
	}
	.header .nombre-sitio {
		grid-column: 1 / 3;
	}
	.header .menu {
		grid-column: 3/ 4;
		text-align: right;
		display: grid;
		align-content: center;
		grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
	}
}

.header .menu a {
	color: var(--claro);
	text-decoration: none;
	font-size: 1.2rem;
}

/** Nosotros **/
.nosotros {
	margin-top: 2rem;
	text-align: center;
}
@media (min-width: 768px) {
	.nosotros {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		text-align: left;
	}
}
.contenido-nosotros {
	align-content: center;
	display: grid;
}
.contenido-nosotros h2 {
	font-size: 3rem;
	font-weight: 300;
}

/* Venta */
.venta {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-gap: 1rem;
}
.venta img {
	width: 100%;
}
.destacada {
	grid-row: 1 /3;
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: auto;
}
@media screen and (min-width: 700px) {
	.destacada {
		grid-column: 1 / 3;
		grid-template-columns: repeat(2, 1fr);
		grid-row: unset;
	}
}

@media (min-width: 768px) {
	.venta {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
	}

	.destacada {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.card {
	background-color: var(--claro);
	padding: var(--padding);
	border: 1px solid #aaa;
}

.anuncio {
	display: grid;
}

.anuncio .precio {
	font-size: 1.4rem;
	font-weight: 400;
}
.precio span {
	font-weight: 300;
	color: var(--primario);
}
.boton {
	background-color: var(--primario);
	display: block;
	padding: var(--padding);

	text-align: center;
	color: var(--claro);
	text-decoration: none;
	border: 1px solid var(--primario);
	transition: all .3s ease;
}

.boton:hover {
	border: 1px solid var(--primario);
	background-color: var(--claro);
	color: var(--primario);
}

/* Footer */
.footer {
	background-color: var(--primario);
	padding-top: var(--paddingt);
	margin-top: 2rem;
	color: var(--claro);
}

@media (min-width: 768px) {
	.footer .contenedor {
		display: grid;
		grid-template-columns: 30% 20% 2fr;
		grid-column-gap: 2rem;
	}
}

.footer .navegacion a {
	display: block;
	color: var(--claro);
	text-decoration: none;
	margin-bottom: 1rem;
}

.footer .contenedor-casas {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(2, auto);
}

.footer .contenedor-casas .casa {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 2rem;
}
.footer .contenedor-casas .casa p {
	margin: 0;
}
.copyright {
	background-color: var(--oscuro);
	margin: 0;
	text-align: center;
	padding: 1rem;
}
