h2 {
	margin: 0;
}
.servicios {
	border: 3px solid black;
	height: 300px;
	display: grid;
	/*grid-template-columns: 33% 33% 33%;
	grid-template-rows: 50% 50%;*/
	/*Grid shorthand: toma los row primero y después las columnas*/
	grid: 50% 50% / 33% 33% 33%;
}

.servicio {
	color: white;
	text-align: center;
}

.servicio-1 {
	background-color: darkviolet;
	/*
	grid-row-start: 1;
	grid-row-end: 3;
	*/
	/*grid-row: 1 / 3;
	grid-column: 1 / 3;*/
	/*grid-area agrupa a row y column*/
	grid-area: 1 / 1 / 3 / 3;
}

.servicio-2 {
	background-color: limegreen;
}
.servicio-3 {
	background-color: teal;
}
