h2 {
	margin: 0;
}
.servicios {
	border: 3px solid black;
	height: 300px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
}

@media screen and(min-width:768px) {
	.servicios {
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 33% 33% 33%;
	}
}

.servicio {
	color: white;
	text-align: center;
}

.servicio-1 {
	background-color: darkviolet;
	grid-column: 1/2;
	grid-row: 1/3;
}
@media screen and(min-width:768px) {
	.servicio-1 {
		grid-column: 1/4;
	}
	.servicio-2 {
		grid-column: 2/4;
		grid-row: 1/4;
	}
	.servicio-3 {
		grid-row: 1/4;
	}
}

.servicio-2 {
	background-color: limegreen;
}
.servicio-3 {
	background-color: teal;
}
