h2 {
	margin: 0;
}
.servicios {
	border: 3px solid black;
	height: 300px;
	display: grid;
	/*
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-columns: 1fr 1fr 1fr;
    */
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-columns: 2fr repeat(2, 1fr);

	/*grid-template-rows: 50% 50%;
    grid-template-rows: 1fr 1fr;*/
	grid-template-rows: repeat(2, 1fr);
	grid: repeat(2, 1fr) / repeat(3, 1fr);
	grid: auto / repeat(3, 1fr);
	/*grid-row-gap: 1rem;
	grid-column-gap: 3rem;*/
	grid-gap: 1rem 3rem;
}

.servicio {
	color: white;
	text-align: center;
}

.servicio-1 {
	background-color: darkviolet;
}

.servicio-2 {
	background-color: limegreen;
}
.servicio-3 {
	background-color: teal;
}
